
.site-header {
  border-bottom: 15px solid RGBA(129, 183, 56, 1.00);
}

.jumbotron-heading {
  font-size: $h1-font-size * 1.2;
}

.nav-link {
  padding-bottom: 0;
  font-size: $h4-font-size;
  font-weight: $font-weight-normal;
}

